@import '../components/Navbar/Navbar.css';
@import './About.css';
@import './skills.css';
@import "./typography.css";
@import "./layout.css";
@import '../components/Title/Title.css';
@import './Services.css';
@import './Contact.css';
@import './Portfolio.css';
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #0056d898;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #777;
}

body {
  color: #c2c5d1;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1rem !important;
}

span {
  color: #037FFF;
}