@import '../components/Navbar/Navbar.css';
@import './About.css';
@import './skills.css';
@import "./typography.css";
@import "./layout.css";
@import '../components/Title/Title.css';

body {
  color: #c2c5d1;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: .2rem;
}

span {
  color: #037FFF;
}
