.ContactItem {
    width: 100%;
}

.ContactItem:not(:last-child) {
    margin-bottom: 1rem;
}

.contact {
    padding: 3rem 0;
    background-color: #191D2B;
    display: flex;
    align-items: center;
}

.ContactPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6rem;
}

.ContactPage .contact-sect {
    width: 100%
}

.right-items {
    margin-left: 2rem;
}

h6 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #c2c5d1;
}

.icon-img {
    padding: 1rem;
    border: 1px solid #2e344e;
    margin-left: 2rem;
    width: 16%;
}

.map-sect {
    padding: 1rem;
    background-color: #191D2B;
    width: 97%;
}

iframe {
    width: 100%;
    height: 100%;
}

.contact-sect {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    margin-bottom: 5rem;
}