.profile {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-bottom: 1px solid #2e344e;
}

img {
    width: 90%;
    /* padding-bottom: 30px; */
    border-radius: 100%;
    border: 3px solid #2e344e;
    margin-bottom: 2rem;
}

.footer {
    color: aliceblue;
    background-color: #191d2b;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav {
    height: 100%;
}

.nav-items {
    margin-top: 2rem;
    width: 100%;
}

.nav-item {
    list-style-type: none;
    text-align: center;
    position: relative;
    display: block;
}

.nav-item a {
    text-decoration: none;
    font-size: inherit;
    color: whitesmoke;
    display: block;
    padding: .5rem 0;
    position: relative;
}

.active {
    background-color: #3e31f0;
}